.idea/
.DS_Store

node_modules/
**/node_modules/

dist/
**/dist/
coverage/

apps/web/.next/
apps/web/out/

apps/backend/.nest/
apps/backend/.jest-cache/
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
